#grid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
}

.element {
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}